doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=.8')
    meta(name='description', content='CapCrunch v#{locals.pkg.version}')
    title CapCrunch v#{locals.pkg.version}
    link(rel='stylesheet', href='css/core.css')
  body
    #main
      include partials/header.jade
      #app
        .wrap
          #payroll.section
            h2 Buffalo Sabres
            .inner
              table
                tr.header
                  td.player
                  td.cap Cap Hit
                  td.year 14/15
                  td.year 15/16
                  td.year 16/17
                  td.year 17/18
                  td.year 18/19
                  td.year 19/20
                  td.year 20/21
                  td.year 21/22
                  td.year 22/23
                tr.title
                  td Forwards
                  td.cap 99.999
                  td(colspan='9')
                each forward, i in locals.data.players.BUF.forwards
                  tr.player
                    td #{forward.name}
                    td.cap 9.999
                    each i in [1,2,3,4,5,6,7,8,9]
                      td 9.999
                tr.title
                  td Defensemen
                  td.cap 99.999
                  td(colspan='9')
                each defender, i in locals.data.players.BUF.defensemen
                  tr.player
                    td #{defender.name}
                    td.cap 9.999
                    each i in [1,2,3,4,5,6,7,8,9]
                      td 9.999
                tr.title
                  td Goalies
                  td.cap 99.999
                  td(colspan='9')
                each goalie, i in locals.data.players.BUF.goalies
                  tr.player
                    td #{goalie.name}
                    td.cap 9.999
                    each i in [1,2,3,4,5,6,7,8,9]
                      td 9.999
                tr.title
                  td Prospects
                  td.cap 99.999
                  td(colspan='9')
                each prospect, i in locals.data.players.BUF.prospects
                  tr.player
                    td #{prospect.name}
                    td.cap 9.999
                    each i in [1,2,3,4,5,6,7,8,9]
                      td 9.999
          #menu.section.active
            #share
              input(type='text' placeholder='Roster Name')
              button Share
            #forwards-list.panel.player-list
              .title Forwards
              .inner
                .header
                  .name Player
                  .shot Shot
                  .salary Salary
                ul
                  each forward, i in locals.data.players.BUF.forwards
                    li.row
                      .name #{forward.name}
                      .shot L
                      .salary 9.999
            #defense-list.panel.player-list
              .title Defense
              .inner
                .header
                  .name Player
                  .shot Shot
                  .salary Salary
                ul
                  each defenseman, i in locals.data.players.BUF.defensemen
                    li.row
                      .name #{defenseman.name}
                      .shot L
                      .salary 9.999
            #goalies-list.panel.short.player-list
              .title Goalies
              .inner
                .header
                  .name Player
                  .shot Shot
                  .salary Salary
                ul
                  each goalie, i in locals.data.players.BUF.goalies
                    li.row
                      .name #{goalie.name}
                      .shot L
                      .salary 9.999
            #prospects-list.panel.player-list
              .title Prospects
              .inner
                .header
                  .name Player
                  .shot Shot
                  .salary Salary
                ul
                  each prospect, i in locals.data.players.BUF.prospects
                    li.row
                      .name #{prospect.name}
                      .shot L
                      .salary 9.999
            #trades.panel.inactive
              .title Trades
              .inner
                p [Trade Control]
            #freeagents.panel.inactive
              .title Free Agents
              .inner
                p [Free Agents Control]
            #createplayer.panel.inactive
              .title Create Player
              .inner
                p [Create Player Control]
          #roster.section.active
            #stats Cap Stats
            #forwards.panel.group
              .title
                .left LW
                .center C
                .right RW
              .inner
                #forwards-1.line
                  .left
                    .tile
                      // Left Winger
                      .player
                        .photo
                          img(src='img/players/ennis-tyler.png')
                        .info
                          .name Tyler Ennis
                            .shot L
                          .salary 9.999
                  .center
                    .tile
                      // Center
                      .player
                        .photo
                          img(src='img/players/girgensons-zemgus.png')
                        .info
                          .name Zemgus Girgensons
                            .shot R
                          .salary 9.999
                  .right
                    .tile
                      // Right Winger
                      .player
                        .photo
                          img(src='img/players/gionta-brian.png')
                        .info
                          .name Brian Gionta
                            .shot R
                          .salary 9.999
                  .title L1
                #forwards-2.line
                  .left
                    .tile
                      // Left Winger
                  .center
                    .tile
                      // Center
                  .right
                    .tile
                      // Right Winger
                  .title L2
                #forwards-3.line
                  .left
                    .tile
                      // Left Winger
                  .center
                    .tile
                      // Center
                  .right
                    .tile
                      // Right Winger
                  .title L3
                #forwards-4.line
                  .left
                    .tile
                      // Left Winger
                  .center
                    .tile
                      // Center
                  .right
                    .tile
                      // Right Winger
                  .title L4
            #defense.panel.group.defense
              .title
                .left LD
                .right RD
              .inner
                #defense-1.line
                  .left
                    .tile
                      // Left Defender
                      .player
                        .photo
                          img(src='img/players/bogosian-zach.png')
                        .info
                          .name Zach Bogosian
                            .shot L
                          .salary 9.999
                  .right
                    .tile
                      // Right Defender
                      .player
                        .photo
                          img(src='img/players/ristolainen-rasmus.png')
                        .info
                          .name Rasmus Ristolainen
                            .shot R
                          .salary 9.999
                  .title P1
                #defense-2.line
                  .left
                    .tile
                      // Left Defender
                  .right
                    .tile
                      // Right Defender
                  .title P2
                #defense-3.line
                  .left
                    .tile
                      // Left Defender
                  .right
                    .tile
                      // Right Defender
                  .title P3
            #goalies-group.panel.group.defense
              .title G
              .inner
                #goalie-1.line
                  .left
                    .tile
                      // Starting Goaltender
                  .title.goalie.starter S
                  .right
                    .tile
                      // Backup Goaltender
                  .title.goalie B
      include partials/footer.jade
    script(src='js/vendor/socket.io.min.js')
    script(src='js/vendor/react.min.js')
    script(src='js/vendor/jquery.min.js')
    script(src='js/app.js')
